*{
    font-family: 'Mulish', sans-serif;
}
.chat-image {
    width: 64px;
    height: 63px;
    border-radius: 50%;
    margin-left: 16px;
    margin-right: 16px;
    margin-top: 16px;
    left: 20px;
    top: 11px;
    background-image: url(assets/user.jpeg);
}

.top-container{
    position: absolute;
    width: 375px;
    height: 86px;
    left: 0px;
    top: 32px;
    filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.18));
}


.separator{
    background-color: black;
    opacity: 0.2;
    height: 2px;
}

.header-title{
    position: absolute;
    width: 227px;
    height: 40px;
    left: 140px;
    top: 12px;

    font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 16px;
    /* or 80% */

    display: flex;
    align-items: center;
    text-align: center;

    color: #60C5D1;
}

.status{
    position: fixed;
    width: 12px;
    height: 12px;
    left: 70px;
    top: 60px;
    border-radius: 50%;
    background: #006C84;
    /* Light / neutral.containerBackground */
    border: 1px solid #FFFFFF;
    box-sizing: border-box;
}

.container-login{
    width: 375px;
    height: 812;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

header{
    width: 375px;
    height: 86px;
}

#zoom{
    position: absolute;
    width: 40px;
    height: 40px;
    left: 73%;
    right: 14.13%;
    top: 35%;
    bottom: 36.05%;
    opacity: 70%;
    /* Light / neutral.labelPrimary */

}
.header-info{
    width: 340px;
    display: flex;
    flex-direction: column;
}

#conversations{

    position: absolute;
    width: 30px;
    height: 30px;
    left: 327px;
    top: 32px;
    opacity: 70%;


}

.post{
    position: absolute;
    width: 343.63px;
    height: 440px;
    left: 17px;
    top: 139px;

    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.post-header{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 7px 16px;
    
    position: static;
    width: auto;
    height: 55px;
    left: 0px;
    top: 0px;
    
    /* Light / neutral.containerBackground */
    
    background: #FFFFFF;
    border-radius: 4px 4px 0px 0px;
    
    /* Inside Auto Layout */
    
    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
}

.options{
    position: static;
    width: 24px;
    height: 24px;
    left: 340px;
    top: 15.5px;
    
    /* Inside Auto Layout */
    
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 12px;
}

.user-name{
    position: static;
    width: auto;
    height: 16px;
    left: 0px;
    top: 0px;

    /* subtitle12 */

    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */

    letter-spacing: 1.2px;
    text-transform: uppercase;

    /* Light / neutral.labelPrimary */

    color: #282B33;


    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px;
}

.post-hour{
    position: static;
    width: 74px;
    height: 16px;
    left: 0px;
    top: 0px;

    /* text12 */

    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */


    /* Light / neutral.labelTertiary */

    color: #6C727E;


    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 4px;
}

.user-post{
    
    position: static;
    width: 40.63px;
    height: 41px;
    left: 16px;
    top: 7px;


    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 12px;
}

.status-post{
    position: absolute;
    width: 8px;
    height: 8px;
    left: 62px;
    top: 43px;

    background: #006C84;
    /* Light / neutral.containerBackground */

    border: 1px solid #FFFFFF;
    box-sizing: border-box;
}

.post-body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 12px;

    position: static;
    width: auto;
    height: 327px;
    left: 0px;
    top: 1px;

    background: #F7F7F8;

    /* Inside Auto Layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 0px;
}

.post-text{
    position: static;
    width: 319px;
    height: 46px;
    left: 12px;
    top: 12px;

    /* text12 */

    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    text-align: justify;
    /* or 133% */


    /* Light / neutral.labelSecondary */

    color: #3D424D;


    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 12px 0px;
}

.post-link{
    position: static;
    width: 151px;
    height: 16px;
    left: 0px;
    top: 0px;

    /* text12Bold */

    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */

    color: #006C84;

    display: flex;
    /* Inside Auto Layout */

    margin: 0px 4px;
}

.main-content{
    position: static;
    width: 326px;
    height: 189px;
    left: 8.5px;
    top: 98px;

    background: url(assets/labrador.jpg);

    /* Inside Auto Layout */

    flex: none;
    order: 3;
    flex-grow: 0;
    margin: 12px 0px;
}

.container-content{
    display: flex;
    flex-direction: column-reverse;
    
}

.like{
    position: static;
    width: 179px;
    height: 16px;
    left: 0px;
    top: 0px;

    /* text12 (paragraph) */

    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */


    /* Light / neutral.labelTertiary */

    color: #6C727E;


    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 12px;
}


.comments{
    position: static;
    width: 68px;
    height: 16px;
    left: 0px;
    top: 0px;

    /* text12 (paragraph) */

    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */


    /* Light / neutral.labelTertiary */

    color: #6C727E;


    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 12px;
}

.share{
    position: static;
    width: 48px;
    height: 16px;
    left: 80px;
    top: 0px;

    /* text12 (paragraph) */

    font-family: Mulish;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */


    /* Light / neutral.labelTertiary */

    color: #6C727E;


    /* Inside Auto Layout */

    flex: none;
    order: 1;
    flex-grow: 0;
    margin: 0px 12px;
}

.footer-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 16px 12px;
    
    position: static;
    width: auto;
    height: 40px;
    left: 0.32px;
    top: 384px;
    
    /* Light / neutral.containerBackground */
    
    background: #FFFFFF;
    border-radius: 0px 0px 4px 4px;
    
    /* Inside Auto Layout */
    
    flex: none;
    order: 2;
    flex-grow: 0;
    margin: 0px 0px;
}

#footer-like{
    width: 24px;
    height: 24px;
    left: 6px;
    top: 16px;
}

.footer-text{

    position: static;
    width: 70px;
    height: 19px;
    left: 0px;
    top: 0px;

    /* text12Bold */

    font-family: Mulish;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    /* identical to box height, or 133% */

    display: flex;
    align-items: center;
    text-align: center;

    color: #4887A2;


    /* Inside Auto Layout */

    flex: none;
    order: 0;
    flex-grow: 0;
    margin: 0px 0px 0px 5px;
}

#footer-coment{
    width: 27px;
    height: 23px;
    left: 6px;
    top: 16px;
}

#footer-share{
    width: 27px;
    height: 27px;
    left: 6px;
    top: 16px;
}

#footer-save{
    width: 27px;
    height: 27px;
    left: 6px;
    top: 16px;
}

.footer-page{
    position: fixed;
    left: 0%;
    right: 0%;
    bottom: 40px;
    height: 40px;
    background: #FFFFFF;
}

#home{
    position: absolute;
    width: 32px;
    height: 32px;
    left: 16px;    
    top: 27px;
    opacity: 70%;

}

#calendar{
    position: absolute;
    width: 32px;
    height: 32px;
    left: 94px;
    top: 27px;
    opacity: 70%;

}

#notifications{
    position: absolute;
    width: 32px;
    height: 34.13px;
    left: 171.5px;
    top: 26px;
    opacity: 70%;

}

#friends{
    position: absolute;
    width: 37px;
    height: 37px;
    left: 249px;
    top: 27px;
    opacity: 70%;
}

#profile{
    position: absolute;
    width: 27px;
    height: 27px;
    left: 325px;
    top: 30px;
    opacity: 70%;
}