*{
    font-family: 'Mulish', sans-serif;
}


.container-login{
    width: 375px;
    height: 812px;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.sign-in{
    width: 246px;
    height: 52px;
    border-style: none;
    border: 2px solid #203F65;
    background-color: #FFFFFF;
    align-self: center;
    margin-bottom: 55px;
    position: absolute;
    top: 343px;
    left: 65px;
    border-radius: 5px;
}

.sign-up{
    width: 246px;
    height: 52px;  
    left: 55px;
    top: 419px;
    background-color: #203F65;
    border-style: none;
    color: #FFFFFF;
    align-self: center;
    margin: 10px;
    position: absolute;
    border-radius: 5px;
    position: absolute;
}

  
.sign-up:hover {
    background-color: #4CAF50; /* Green */
    color: white;
}

.sign-up:hover{
    transition-duration: 0.4s;
    background-color:#60C5D1;
    border: 2px solid #203F65 ;
}
.logo{
    position: absolute;
    width: 173px;
    height: 152px;
    left: 101px;
    top: 73px;
}

.home-photo{
    position: absolute;
    width: 246px;
    height: 258px;
    left: 47px;
    top: 560px;
}

.home-message{
    position: absolute;
    width: 202px;
    height: 53px;
    left: 120px;
    top: 482px;
    
    font-family: Mulish;
    font-style: normal;
    font-weight: 800;
    font-size: 18px;
    line-height: 16px;
    /* or 89% */
    
    display: flex;
    align-items: center;
    text-align: center;
    
    /* Light / neutral.labelSecondary */
    
    color: #3D424D;
}

.button-text-si{
    color: #203F65;
    font-weight: bold;
    font-size: 13px;
    font-weight: 900;
}

.button-text-su{
    color: #FFFFFF;
    font-size: 13px;
    font-weight: 900;
}


.login-title1{
    position: absolute;
    width: 148px;
    height: 40px;
    left: 107px;
    top: 242px;
    font-weight: 800;
    font-size: 45px;
    color: #3D424D;
}

.login-title2{
    position: absolute;
    width: 148px;
    height: 40px;
    left: 153px;
    top: 295px;
    font-weight: 800;
    font-size: 20px;
    color: #3D424D;
}