*{
    font-family: 'Mulish', sans-serif;
}

#back-image {
    width: 12px;
    height: auto;
    margin-top: 70px;
    margin-left: 16px;
    align-self: flex-start;
}

#video-camera-image {
    width: 32px;
    height: 32px;
    margin-top: 60px;
    margin-right: 16px;
}

#title {
    width: 100%;
    font-size: 20px;
    margin-top: 60px;
    margin-left: 106px;
}

.chat-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.left-chat-container {
    display: flex;
}

.right-chat-container {
    display: flex;
}

.left-chat {
    border-radius: 0px 5px 5px 5px;
    background-color: #F1F2E6;
    font-size: 13px;
}

.right-chat {
    border-radius: 5px 0px 5px 5px;
    background-color: #F1F2E6;
    font-size: 13px;
}

#separator {
    background-color: black;
    opacity: 0.2;
    height: 2px;
}

.top-container {
    display: flex;
}