
*{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family:Arial, Helvetica, sans-serif;
}

.container{
    display: flex;
    flex-direction: row;
    height: 550px;
}


.modal-container{
    display: none;
}

button{
    background-color: #47a386;
    border: 0;
    border-radius: 5px;
    box-shadow: 0 2px  4px rgba(0, 0, 0, 0.2);
    color: white;
    font-size: 14px;
    padding: 10px 25px;
    width: 100px;
    margin: 2.5px;
}

#remove-filter{
    background-color: #ec9613;
}

.modal-container{
    display: flex;
    background-color: rgba(0, 0 ,0 , 0.3);
    align-items: center;
    justify-content: center;
    position: fixed;
    pointer-events: none;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    opacity: 0;
}

.show{
    pointer-events: auto;
    opacity: 1;
}

.modal{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(255, 255, 255);
    width: 600px;
    max-width: 100%;
    padding: 20px 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.modal-item{
    padding: 10px;
}

header{
    width: 20%;
    height: auto;
    background-color: rgba(238, 228, 228, 0.808);
    display: flex;
    flex-direction: column;
    align-items: center; 
}

.icons-div{
    width: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.general-tools{
    flex-direction: row;
    justify-content: center;
}

.icon{
    margin: 5px;
    padding: 5px;
    border-style: solid;
    border-color: black;
    display: inline-block;
}


#colors{
    width: 30px;
    margin: 5px;
    display: flex;
    flex-direction: row;
    height: auto;
}

#canv{
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px 0px;

}

#canvas{
    width: auto;
    height: auto;
    border: 1px solid black;
}



.far{
    align-self: flex-start;
}
