
#canvas-container {
    margin: 0 50%;
    height: 100%;
}

canvas {
    background-color: #212529;
    align-self: center;
    border: 2px solid silver;
    display: none;
    border-radius: 25px;
}


#timer { 
    color: white;
    margin-left: 600px;
    font-size: large;
    font-weight: bolder;
}

#timer-title {
    margin-right: 20px;
}