
#canvas-container {
    margin: 0 50%;
    height: 100%;
}

canvas {
    background-color: #212529;
    align-self: center;
    border: 2px solid silver;
    display: none;
    border-radius: 25px;
<<<<<<< HEAD
    margin-left: 90px;
=======
>>>>>>> 537f348049c83462704109db513b1d2d6a88b89e
}


#timer { 
    color: white;
    margin-left: 400px;
    font-size: large;
    font-weight: bolder;
}

#timer-title {
    margin-right: 20px;
}

#container{
    display: flex;
    flex-direction: row;
    width: 100%;
}

#jugada{
    width: 300px;
    height: 100px;
    background-color: gray;
}

